<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hello!</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css"/>

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>




    <script>
        $(function() {
            $( "#slider-range-min" ).slider({
                range: "min",
                value: 65,
                min: 0,
                max: 100,
                slide: function( event, ui ) {
                    $( "#feebit" ).val( ui.value + " %");
                }
            });
            $( "#feebit" ).val(  $( "#slider-range-min" ).slider( "value" ) );
        });
    </script>




</head>
<body>

    <div class="container-fluid" align="center">
        <img align="right" th:src="@{/images/feeblogo.png}" src="../static/images/feeblogo.png" class="img-circle"/>
        <br/><br/><br/><br/>
        <div class="row">
            <div class="col-md-4 col-md-offset-4" >

                <div class="panel panel-default" >
                    <div class="panel-body">

                        <div class="row" align="left">
                            <div class="col-md-2 col-sm-2" align="left">
                                <img th:src="@{/images/batman.jpg}" src="../static/images/batman.jpg"  class="img-circle" />
                                Batman
                                <small>vig·i·lan·te.</small>
                                <small>Gotham City</small>

                            </div>
                            <div class="col-md-7  col-sm-7" align="left">
                                <div id="slider-range-min"></div>
                            </div>
                            <div class="col-md-2  col-sm-2" >

                                <h3>
                                    <input type="text" id="feebit" readonly="true" style="border:0; font-weight:bold;" />
                                </h3>
                                <button type="button" class="btn btn-default" >
                                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                </button>

                            </div>




                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>



</body>
</html>