<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hello!</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css" />


    <!-- Load c3.css -->
    <link  rel="stylesheet"  href="../static/c3/c3.js" type="text/css"/>

    <!-- Load d3.js and c3.js -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="../static/c3/c3.min.js" th:src="@{/c3/c3.min.js}"></script>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css"/>

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>


    <script>
        $(function() {
            $( "#slider-range-min" ).slider({
                range: "min",
                value: 65,
                min: 0,
                max: 100,
                slide: function( event, ui ) {
                    $( "#feebit" ).val( ui.value + " %");
                }
            });
            $( "#feebit" ).val(  $( "#slider-range-min" ).slider( "value" ) );


            var chart = c3.generate({
                data: {
                    xs: {
                        setosa: 'setosa_x',
                        versicolor: 'versicolor_x'
                    },
                    // iris data from R
                    columns: [
                        ["setosa_x", 3.5, 3.0, 3.2, 3.1, 3.6, 3.9, 3.4, 3.4, 2.9, 3.1, 3.7, 3.4, 3.0, 3.0, 4.0, 4.4, 3.9, 3.5, 3.8, 3.8, 3.4, 3.7, 3.6, 3.3, 3.4, 3.0, 3.4, 3.5, 3.4, 3.2, 3.1, 3.4, 4.1, 4.2, 3.1, 3.2, 3.5, 3.6, 3.0, 3.4, 3.5, 2.3, 3.2, 3.5, 3.8, 3.0, 3.8, 3.2, 3.7, 3.3],
                        ["versicolor_x", 3.2, 3.2, 3.1, 2.3, 2.8, 2.8, 3.3, 2.4, 2.9, 2.7, 2.0, 3.0, 2.2, 2.9, 2.9, 3.1, 3.0, 2.7, 2.2, 2.5, 3.2, 2.8, 2.5, 2.8, 2.9, 3.0, 2.8, 3.0, 2.9, 2.6, 2.4, 2.4, 2.7, 2.7, 3.0, 3.4, 3.1, 2.3, 3.0, 2.5, 2.6, 3.0, 2.6, 2.3, 2.7, 3.0, 2.9, 2.9, 2.5, 2.8],
                        ["setosa", 0.2, 0.2, 0.2, 0.2, 0.2, 0.4, 0.3, 0.2, 0.2, 0.1, 0.2, 0.2, 0.1, 0.1, 0.2, 0.4, 0.4, 0.3, 0.3, 0.3, 0.2, 0.4, 0.2, 0.5, 0.2, 0.2, 0.4, 0.2, 0.2, 0.2, 0.2, 0.4, 0.1, 0.2, 0.2, 0.2, 0.2, 0.1, 0.2, 0.2, 0.3, 0.3, 0.2, 0.6, 0.4, 0.3, 0.2, 0.2, 0.2, 0.2],
                        ["versicolor", 1.4, 1.5, 1.5, 1.3, 1.5, 1.3, 1.6, 1.0, 1.3, 1.4, 1.0, 1.5, 1.0, 1.4, 1.3, 1.4, 1.5, 1.0, 1.5, 1.1, 1.8, 1.3, 1.5, 1.2, 1.3, 1.4, 1.4, 1.7, 1.5, 1.0, 1.1, 1.0, 1.2, 1.6, 1.5, 1.6, 1.5, 1.3, 1.3, 1.3, 1.2, 1.4, 1.2, 1.0, 1.3, 1.2, 1.3, 1.3, 1.1, 1.3],
                    ],
                    type: 'scatter'
                },
                axis: {
                    x: {
                        label: 'Date',
                        tick: {
                            fit: true
                        }
                    },
                    y: {
                        label: 'Feebit'
                    }
                }
            });


        });




    </script>





</head>
<body>

<nav class="navbar navbar-fixed-top navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/feeb-logo.png}" src="../static/images/feeb-logo.png" />
        </a>
    </div><!-- /.container -->
</nav><!-- /.navbar -->

<div class="container-fluid" align="center">


    <br/><br/><br/><br/>
    <div class="row">

        <div class="col-md-4 col-md-offset-4" >

            <div class="panel panel-default" >

                <div class="panel-body">

                    <div class="row" align="left">
                        <div class="col-md-2 col-sm-2" align="left">
                            <img th:src="@{/images/batman.jpg}" src="../static/images/batman.jpg"  class="img-circle"/>
                        </div>
                        <div class="col-md-5 col-sm-5" align="left">
                            <h4>Batman</h4>
                            <small>vig·i·lan·te.</small>
                            <small>Gotham City</small>
                        </div>
                        <div class="col-md-5 col-sm-5">

                            <div class="row" >
                                <div class="col-md-6  col-sm-6">
                                    <h1>
                                        <input type="text" id="feebit" size="3" readonly="true" style="border:0;"/>
                                    </h1>
                                </div>
                                <div class="col-md-6  col-sm-6">
                                    <button type="button" class="btn btn-default" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                            <div id="slider-range-min"></div>


                        </div>

                    </div>
                    <br/>
                    <div class="row" >
                        <div class="col-md-12  col-sm-12">
                            <div id="chart"></div>
                        </div>

                    </div>





                </div>
            </div>

        </div>
    </div>
</div>



</body>
</html>