<!DOCTYPE html>
<html>
    <head lang="en">
        <title>Feebit</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css"/>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" th:href="@{/css/login.css}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script>
            $(document).ready(function(){

                $("#forgotPwdLabel").hide();
                $("#form-forgot").hide();

                $("#forgotLink").click(function(){
                    $("#form-signin").hide();
                    $("#signInLabel").hide();
                    $("#forgotPwdLabel").show();
                    $("#form-forgot").show();

                });
                $("#back-btn").click(function(){
                    $("#form-forgot").hide();
                    $("#forgotPwdLabel").hide();
                    $("#signInLabel").show();
                    $("#form-signin").show();
                });
            });
        </script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <h1 class="text-center login-title" id="signInLabel">Sign in</h1>
                    <h1 class="text-center login-title" id="forgotPwdLabel">Forget Password?</h1>
                    <div class="account-wall">
                        <form class="form-signin" id="form-signin" action="/home" method="post">
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                <input class="form-control" type="text" placeholder="Email address" name="username" required="true" />
                            </div>
                            <br />
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                <input class="form-control" type="password" placeholder="Password" name="password" required="true"/>
                            </div>
                            <br />
                            <button class="btn btn-lg btn-success btn-block" type="submit">
                                Sign in</button>
                            <label class="checkbox pull-left">
                                <input type="checkbox" value="remember-me"/>
                                Remember me
                            </label>
                            <a href="#" id="forgotLink" class="pull-right need-help">Need help? </a><span class="clearfix"></span>

                            <a href="/register" class="text-center new-account">Create an account </a>
                        </form>
                        <form class="form-signin" id="form-forgot" action="/login" method="post">
                            <p>Enter your e-mail address below to reset your password.</p>
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                <input class="form-control" type="text" placeholder="Email address" name="username" required="true" />
                            </div>
                            <br />

                            <button type="button" id="back-btn" class="btn pull-left">Back</button>
                            <button class="btn btn-success pull-right" type="submit">Submit</button>
                            <br />
                            <br />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>